#
#    fty-alert-engine - 42ity service evaluating rules written in Lua and producing alerts
#
#    Copyright (C) 2014 - 2018 Eaton
#
#    This program is free software; you can redistribute it and/or modify
#    it under the terms of the GNU General Public License as published by
#    the Free Software Foundation; either version 2 of the License, or
#    (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU General Public License for more details.
#
#    You should have received a copy of the GNU General Public License along
#    with this program; if not, write to the Free Software Foundation, Inc.,
#    51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.

Source:         fty-alert-engine
Section:        net
Priority:       optional
Maintainer:     fty-alert-engine Developers <eatonipcopensource@eaton.com>
Standards-Version: 4.0.1.0
Build-Depends: debhelper (>= 9),
    pkg-config,
    libsodium-dev,
    libzmq3-dev,
    libczmq-dev (>= 3.0.2),
    libmlm-dev (>= 1.0.0),
    libfty-common-logging-dev,
    libfty-proto-dev (>= 1.0.0),
    liblua5.1-0-dev (>= 5.1.0),
    libcxxtools-dev,
    libfty-common-dev,
    libfty-shm-dev (>= 1.0.0),
    systemd,
    dh-systemd,
    asciidoc-base | asciidoc, xmlto,
    dh-autoreconf

Package: libfty-alert-engine0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: fty-alert-engine shared library
 This package contains shared library for fty-alert-engine:
 42ity service evaluating rules written in lua and producing alerts

Package: libfty-alert-engine-dev
Architecture: any
Section: libdevel
Depends:
    ${misc:Depends},
    libsodium-dev,
    libzmq3-dev,
    libczmq-dev (>= 3.0.2),
    libmlm-dev (>= 1.0.0),
    libfty-common-logging-dev,
    libfty-proto-dev (>= 1.0.0),
    liblua5.1-0-dev (>= 5.1.0),
    libcxxtools-dev,
    libfty-common-dev,
    libfty-shm-dev (>= 1.0.0),
    libfty-alert-engine0 (= ${binary:Version})
Description: fty-alert-engine development tools
 This package contains development files for fty-alert-engine:
 42ity service evaluating rules written in lua and producing alerts

Package: fty-alert-engine
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends},
Description: runnable binaries from fty-alert-engine
 Main package for fty-alert-engine:
 42ity service evaluating rules written in lua and producing alerts

Package: fty-alert-engine-dbg
Architecture: any
Section: debug
Priority: optional
Depends:
    fty-alert-engine (= ${binary:Version}),
    ${misc:Depends}
Description: fty-alert-engine debugging symbols
 This package contains the debugging symbols for fty-alert-engine:
 42ity service evaluating rules written in lua and producing alerts.
