[Unit]
Description=alert-agent service
After=network.target malamute.service
Requires=malamute.service

[Service]
Type=simple
ExecStart=/usr/local/bin/alert-agent ${prefix}/etc/alert_generator/alert-agent.cfg

[Install]
WantedBy=multi-user.target
