[Unit]
Description=alert-agent service
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/alert-agent ${prefix}/etc/alert-generator/alert-agent.cfg

[Install]
WantedBy=multi-user.target
