[Unit]
Description=bios-agent-alert-generator service
After=network.target malamute.service

[Service]
Type=simple
ExecStart=/usr/local/bin/bios-agent-alert-generator

[Install]
WantedBy=multi-user.target
